<template>
  <div class='am-wrapper am-login'>
    <div class='main-content'>
      <div class='login-container'>
        <div class='panel panel-default'>
          <div class='panel-body'>
            <div class='login-form'>
              <div class='form-group'>
                <div class='input-group'><span class='input-group-addon'><i class='icon s7-user'></i></span>
                  <input v-model='auth.username' id='username' type='text' placeholder='Username' autocomplete='off' class='form-control'>
                </div>
              </div>
              <div class='form-group'>
                <div class='input-group'><span class='input-group-addon'><i class='icon s7-lock'></i></span>
                  <input v-model='auth.password' id='password' type='password' placeholder='Password' class='form-control'>
                </div>
              </div>
              <div class='form-group login-submit'>
                <button v-on:click='applyLogin()' type='submit' class='btn btn-primary btn-lg'>Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data () {
    return {
      auth: {
        username: '',
        password: ''
      }
    }
  },
  computed: mapState({
    authenticated: state => state.Auth.authenticated
  }),
  mounted() {
    if(this.authenticated) {
      this.$router.replace({ name: 'main' });
    }
  },
  methods: {
    applyLogin() {
      this.$store.dispatch('LOGIN',this.auth).then((data) => {
        console.log('auth:login',data)
        this.$router.replace({ name: 'main' })        
      }).catch((error) => {
        console.log('auth:login',error)
        $('.login-container').notify('Please fill username and password',{position: 'top center'})
      })
    }
  }
}
</script>

<style scoped>
  .icon {
    color: #333 !important;
  }
  .input-group {
    border-bottom: 1px solid #999 !important;
  }
</style>