<template>
	<div class="modal fade" id="modal-details-units" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
        	<div class="table-responsive noSwipe">
            <table class="table table-striped table-fw-widget table-hover">
              <thead>
                <tr>
                  <th width="20%">Apartment</th>
                  <th width="120px">Tower</th>
                  <th width="50px" align="center">Floor</th>
                  <th width="50px" align="center">Unit</th>
                  <th width="50px" align="center">Bed</th>
                  <th width="50px" align="center">Bath</th>
                  <th width="50px" align="center">Size</th>
                  <th width="60px" align="center">View</th>
                  <th width="130px">Bottom</th>
                  <th width="130px">Release</th>
                  <th>Status</th>
                  <th width="90px">&nbsp;</th>
                </tr>
              </thead>
              <tbody class="no-border-x" v-if="results.length">
                <tr v-for="unit in results">
                  <td><input v-model="unit.name" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.tower" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.floor" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.unit" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.bed" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.bath" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.size" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.view" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.price_bottom" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="unit.price_release" type="text" class="form-control input-sm"/></td>
                  <td>{{unit.status}}</td>
                  <td>
                    <div class="btn-group btn-space" v-if="unit.status !== 'rented'">
                      <button @click="updateUnit(unit)" class="btn btn-default btn-sm" title>
                        <i class="icon s7-diskette"></i>
                      </button>
                      <button @click="deleteUnit(unit)" class="btn btn-default btn-sm">
                        <i class="icon s7-trash"></i>
                      </button>
                    </div>
                    <div v-else class="btn-group">
                      <button  class="btn btn-success btn-sm btn-block disabled">Rented</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><input v-model="newitem.name" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.tower" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.floor" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.unit" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.bed" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.bath" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.size" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.view" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.price_bottom" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.price_release" type="text" class="form-control input-sm"/></td>
                  <td>&nbsp;</td>
                  <td><button @click="createNewUnit" class="btn btn-primary btn-sm btn-block">Add New</button></td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td><input v-model="newitem.name" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.tower" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.floor" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.unit" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.bed" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.bath" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.size" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.view" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.price_bottom" type="text" class="form-control input-sm"/></td>
                  <td><input v-model="newitem.price_release" type="text" class="form-control input-sm"/></td>
                  <td>&nbsp;</td>
                  <td><button @click="createNewUnit" class="btn btn-primary btn-sm btn-block">Add New</button></td>
                </tr>
              </tbody>                      
            </table>
          </div>
      	</div>
        <div class="modal-footer">
            <button @click="closeModal" type="button" class="btn btn-secondary">Close</button>
          </div>
        </div>
      </div>
    </div>
	</div>
</template>

<script>
import 'jquery-confirm'
import 'Modules/jquery-confirm/dist/jquery-confirm.min.css'
export default {
  data() {
    return {
      data: null,
      results: [],
      newitem: {
        ownerid: null,
        name: null,
        tower: null,
        floor: null,
        unit: null,
        bed: null,
        bath: null,
        size: null,
        view: null,
        price_bottom: null,
        price_release: null,
        status: null
      }
    }
  },
  methods: {
    openModal(data){
      this.data = data
      this.$store.dispatch('GET_UNIT_PEOPLE',data.id).then((response) => {
        this.results = response.data
        $('#modal-details-units').modal('show')
      })
    },
    closeModal() {
      this.data = null
      this.results = []
      this.newitem = {
        ownerid: null,
        name: null,
        tower: null,
        floor: null,
        unit: null,
        bed: null,
        bath: null,
        size: null,
        view: null,
        price_bottom: null,
        price_release: null,
        status: null
      }
      $('#modal-details-units').modal('hide')
    },
    updateUnit(unit){
      unit = {...unit, ownerid: this.data.id}
      this.$store.dispatch('UPDATE_UNIT',unit).then((response) => {
        $.notify(response.message, {position: 'top center', className: 'success'})
      }).catch((error) => {

      })
    },
    createNewUnit(){
      let unit = {...this.newitem, ownerid: this.data.id}
      this.$store.dispatch('ADD_UNIT',unit).then((response) => {
        $.notify(response.message, {position: 'top center', className: 'success'})

        this.results = [
          ...this.results,
          response.data
        ]

        this.newitem = {
          ownerid: null,
          name: null,
          tower: null,
          floor: null,
          unit: null,
          bed: null,
          bath: null,
          size: null,
          view: null,
          price_bottom: null,
          price_release: null,
          status: null
        }
      }).catch((error) => {

      })
    },
    deleteUnit(){
      $.alert('Function is disabled for now');
      // $.confirm({
      //   animation: 'scaleY',
      //   closeAnimation: 'scaleY',
      //   title: 'Delete Confirmation',
      //   content: 'Are you sure want to delete unit?',
      //   buttons: {
      //     cancel: function () {},
      //     confirm: {
      //         text: 'Delete',
      //         btnClass: 'btn-primary',
      //         action: function(){                  
      //           $.alert('Confirmed!');
      //         }
      //     }
      //   }
      // })
    }
  }
}
</script>

<style scope>
  #modal-details-units .modal-lg {
    width: 90%;
  }
  #modal-details-units .input-sm {
    padding: 3px;
  }
  #modal-details-units .table > thead > tr > th, .table > tbody > tr > th, 
  #modal-details-units .table > tfoot > tr > th, .table > thead > tr > td, 
  #modal-details-units .table > tbody > tr > td, .table > tfoot > tr > td,
  #modal-details-units .table-fw-widget tr th:first-child, .table-fw-widget tr td:first-child,
  #modal-details-units .table-fw-widget tr th:last-child, .table-fw-widget tr td:last-child {
    padding:5px;
  }
</style>