<template>
	<div>
    <div class="modal fade" id="model-people-details" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="panel-heading"><span class="title">{{modalTitle}}</span></div>
          <div class="modal-body">
            <div class="form-group">
              <div class="col-md-12">
                <label>Name</label>
                <input v-model="details.name" type="text" class="form-control input-sm">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                <label>Phone</label>
                <input v-model="details.phone" type="text" class="form-control input-sm">
              </div>
              <div class="col-md-3">
                <label>Phone Other</label>
                <input v-model="details.phone_other" type="text" class="form-control input-sm">
              </div>
              <div class="col-md-3">
                <label>Fix Line</label>
                <input v-model="details.phone_fix_line" type="text" class="form-control input-sm">
              </div>
              <div class="col-md-3">
                <label>Email</label>
                <input v-model="details.email" type="text" class="form-control input-sm">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label>Address</label>
                <textarea v-model="details.address" class="form-control"></textarea>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <label>Country</label>
                <input v-model="details.country" type="text" class="form-control input-sm">
              </div>
              <div class="col-md-6">
                <label>Identity Number</label>
                <input v-model="details.identity" type="text" class="form-control input-sm">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <label>Birthday</label>
                <input v-model="details.birthday" type="text" class="form-control input-sm">
              </div>
              <div class="col-md-6">
                <label>Religion</label>
                <input v-model="details.religion" type="text" class="form-control input-sm">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <label>Company Name</label>
                <input v-model="details.company" type="text" class="form-control input-sm">
              </div>
              <div class="col-md-6">
                <label>Company Position</label>
                <input v-model="details.position" type="text" class="form-control input-sm">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeModal" type="button" class="btn btn-secondary">Close</button>
            <button @click="updatePeople" type="button" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>	
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'

export default {
	props: ['unitId'],
	data() {
		return {
      modalTitle: null,
      details: {
        id: null,
        company: null,
        name: null,
        birthday: null,
        religion: null,
        email: null,
        phone: null,
        phone_other: null,
        phone_fix_line: null,
        identity: null,
        position: null,
        address: null,
        country: null,
        type: null,
        units: []
      }
    }
	},
	methods: {
    openModal(title, data) {
      this.modalTitle = title
      this.details = data
      $('#model-people-details').modal('show')
    },
		closeModal() {
      $('.panel-collapse').removeClass('in')
      $('#model-people-details').modal('hide')
		},
    updatePeople(){
      this.$store.dispatch('UPDATE_PEOPLE',this.details).then((response) => {
        $.notify(response.message, {position: 'top center', className: 'success'})
        this.details = response.data
      }).catch((error) => {

      })
    }
	}
}
</script>