<template>
	<div class="am-content">
    <div class="main-content">
      <div class="row">
        <!--Responsive table-->
        <div class="col-sm-12">
          <div class="widget widget-fullwidth widget-small">
            <div class="table-responsive noSwipe">
              <table class="table table-striped table-fw-widget table-hover">
                <thead>
                  <tr>
                    <th width="20%">User</th>
                    <th width="25%">Commit Message</th>
                    <th width="10%">SHA</th>
                    <th width="10%">Date</th>
                    <th width="10%" class="number">Total Size</th>
                    <th width="10%" class="number">Changed Files</th>
                  </tr>
                </thead>
                <tbody class="no-border-x">
                  <tr>
                    <td class="user-avatar"> <img src="assets/img/avatar4.jpg">Claire Sassu</td>
                    <td>Initial commit</td>
                    <td>63e8ec3</td>
                    <td>Aug 6, 2015</td>
                    <td class="number">350Kb</td>
                    <td class="number">8</td>
                  </tr>
                  <tr>
                    <td class="user-avatar"> <img src="assets/img/avatar3.jpg">Joel King</td>
                    <td>Main structure markup</td>
                    <td>4cc1bc2</td>
                    <td>Jul 28, 2015</td>
                    <td class="number">1.2Mb</td>
                    <td class="number">10</td>
                  </tr>
                  <tr>
                    <td class="user-avatar"> <img src="assets/img/avatar7.jpg">Maggie Jackson</td>
                    <td>Left sidebar adjusments</td>
                    <td>5477993</td>
                    <td>Jul 15, 2015</td>
                    <td class="number">856Kb</td>
                    <td class="number">18</td>
                  </tr>
                  <tr>
                    <td class="user-avatar"> <img src="assets/img/avatar6.jpg">Mike Bolthort</td>
                    <td>Topbar dropdown style</td>
                    <td>8cb98ec</td>
                    <td>Jun 30, 2015</td>
                    <td class="number">2.3Mb</td>
                    <td class="number">25</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>