<template>
  <nav class="navbar navbar-default navbar-fixed-top am-top-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="page-title">
            <span>Dashboard</span>
        </div>
        <a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed">
          <span class="icon-bar"><span></span><span></span><span></span></span>
        </a>
        <router-link to="/" class="navbar-brand"></router-link>
      </div>
    </div>
  </nav>
</template>

<script>
	
</script>