<template>
	<div class="am-left-sidebar">
		<div class="am-scroller nano">
			<div class="content nano-content">
					<div class="am-logo"></div>
					<ul class="sidebar-elements">
							<li :class="{active: isActive === 'unit', parent: true}">
								<router-link to="/unit"><i class="icon s7-home"></i><span>Unit</span></router-link>
							</li>
							<li :class="{active: isActive === 'people', parent: true}">
								<router-link to="#"><i class="icon s7-user"></i><span>People</span></router-link>
								<ul class="sub-menu">
							    <li class="title">User</li>
							    <li class="nav-items">
							        <div class="am-scroller nano">
							            <div class="content nano-content" style="margin-right: 0px;">
							                <ul>
							                    <li>
							                    	<router-link to="/people/owner">Manage Owner</router-link></a>
							                    </li>
							                    <li>
							                    	<router-link to="/people/tenant">Manage Tenant</router-link></a>
							                    </li>
							                </ul>
							            </div>
							            <div class="nano-pane" style="display: none;">
							                <div class="nano-slider" style="transform: translate(0px, 0px);"></div>
							            </div>
							        </div>
							    </li>
								</ul>
							</li>
							<li :class="{active: isActive === 'contract', parent: true}">
								<router-link to="/unit"><i class="icon s7-ribbon"></i><span>Contract</span></router-link>
							</li>
					</ul>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['isActive'],
		mounted(){
			App.init()
		}
	}
</script>