<template>
	<div>
    <div class="modal fade" id="filter-search" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="panel-heading"><span class="title">Filter Unit</span></div>
          <div class="modal-body">
            <div class="form-group">
              <div class="col-md-12">
                <label for="recipient-name" class="col-form-label">Owner</label>
                <input v-model="searchFilter.owner" type="text" class="form-control">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label for="recipient-name" class="col-form-label">Apartment</label>
                <input v-model="searchFilter.apartment" type="text" class="form-control">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label for="recipient-name" class="col-form-label">Tower</label>
                <input v-model="searchFilter.tower" type="text" class="form-control">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-6">
                <label for="recipient-name" class="col-form-label">Floor</label>
                <input v-model="searchFilter.floor" type="text" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="recipient-name" class="col-form-label">Unit</label>
                <input v-model="searchFilter.unit" type="text" class="form-control">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-4">
                <label for="recipient-name" class="col-form-label">Size</label>
                <input v-model="searchFilter.size" type="text" class="form-control">
              </div>
              <div class="col-md-4">
                <label for="recipient-name" class="col-form-label">Bed</label>
                <input v-model="searchFilter.bed" type="text" class="form-control">
              </div>
              <div class="col-md-4">
                <label for="recipient-name" class="col-form-label">Bath</label>
                <input v-model="searchFilter.bath" type="text" class="form-control">
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <label for="recipient-name" class="col-form-label">Status</label>
                <select v-model="searchFilter.status" class="form-control">
                  <option value="active,rented" selected="selected">All Status</option>
                  <option v-for="option in searchOptions.status">{{option}}</option>
                </select> 
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeModal" type="button" class="btn btn-secondary">Close</button>
            <button @click="filterNow" type="button" class="btn btn-primary">Filter</button>
          </div>
        </div>
      </div>
    </div>
  </div>	
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  computed: mapState({
    search: state => state.Unit.search,
    searchOptions: state => state.Unit.searchOptions
  }),
	methods: {
    openModal() {
      $('#filter-search').modal('show')
    },
		closeModal() {
			this.$emit('callbackOpenModal', false)
      $('#filter-search').modal('hide')
		},
		filterNow() {
      this.$store.dispatch('setSearchFilter',{...this.searchFilter, page: 1})
      this.$emit('callbackFilterSearch', {...this.searchFilter, page: 1})
      $('#filter-search').modal('hide')
    }
	},
  data() {
    return {
      searchFilter: {...this.search}
    }
  }
}
</script>