<template>
	<div>
    <div class="modal fade" id="modal-owner-accept" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="panel-heading">
            <span class="title">{{ responseStatusString[updateUnit.status] }}</span>
          </div>
          <div class="modal-body">
            <!-- Unit Details -->
            <div v-if="updateUnit.status === 'accepted'" class="form-group has-success">
              <div class="col-md-4">
                <label>Currency</label>
                <select v-model="updateUnit.price_currency" class="form-control">
                  <option value="IDR">IDR</option>
                  <option value="USD">USD</option>
                </select>
              </div>
              <div class="col-md-4">
                <label>Bottom</label>
                <input v-model="updateUnit.price_bottom" type="number" class="form-control">
              </div>
              <div class="col-md-4">
                <label>Release</label>
                <input v-model="updateUnit.price_release" type="number" class="form-control">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <label>Notes</label>
                <textarea v-model="updateUnit.notes" class="form-control"></textarea>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeModal" type="button" class="btn btn-secondary">Close</button>
            <button @click="submitResponse" type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>	
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'

export default {
	props: ['unitId'],
	data() {
		return {
      responseStatusString: {
        accepted: "Accept Unit",
        rejected: "Reject Unit",
        notes: "Add Notes",
      },
      selectedId: null,
      updateUnit: {
        price_currency: null,
        price_bottom: null,
        price_release: null,
        status: null,
        notes: null
      }
    }
	},
	methods: {
    openModal(id, status) {
      this.selectedId = id
      this.updateUnit.status = status
      $('#modal-owner-accept').modal('show')
    },
		closeModal() {
      this.updateUnit = {
        price_currency: null,
        price_bottom: null,
        price_release: null,
        status: null,
        notes: null
      }
      $('#modal-owner-accept').modal('hide')
		},
    submitResponse(){
      this.$store.dispatch('updateResponseOwner', this.selectedId, this.updateUnit)
    }
	}
}
</script>

<style scope>
  .modal-body {
    padding: 0px;
  }
  .panel {
    padding-bottom:0px;
    margin-bottom:0px;
  }
  .panel-group.accordion {
    margin-bottom: 0px;
  }
</style>