<template>
	<div>
    <div class="modal fade" id="model-unit-details" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="panel-heading"><span class="title">Follow Up Owner</span></div>
          <div class="modal-body">
            <div class="row">
              <!-- Owner Details -->
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="title">Data Owner</span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="form-group">
                        <div class="col-md-12">
                          <label>Name</label>
                          <input v-model="details.owner.name" type="text" class="form-control input-sm">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-3">
                          <label>Phone</label>
                          <input v-model="details.owner.phone" type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-3">
                          <label>Phone Other</label>
                          <input v-model="details.owner.phone_other" type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-3">
                          <label>Fix Line</label>
                          <input v-model="details.owner.phone_fax" type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-3">
                          <label>Email</label>
                          <input v-model="details.owner.email" type="text" class="form-control input-sm">
                        </div>
                        <div class="clearfix"></div>
                      </div>

                      <div id="owner-details" class="panel-group accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h5 class="panel-title"><a data-toggle="collapse" data-parent="#owner-details" href="#info-owner" aria-expanded="true" class=""><i class="icon s7-angle-down"></i> Open Details</a></h5>
                          </div>
                          <div id="info-owner" class="panel-collapse collapse" aria-expanded="true" style="">
                            <div class="panel-body">
                              <div class="row">
                                <div class="form-group">
                                  <div class="col-md-12">
                                    <label>Address</label>
                                    <textarea v-model="details.owner.address" class="form-control"></textarea>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                  <div class="col-md-6">
                                    <label>Country</label>
                                    <input v-model="details.owner.country" type="text" class="form-control input-sm">
                                  </div>
                                  <div class="col-md-6">
                                    <label>Identity Number</label>
                                    <input v-model="details.owner.identity" type="text" class="form-control input-sm">
                                  </div>
                                  <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                  <div class="col-md-6">
                                    <label>Birthday</label>
                                    <input v-model="details.owner.birthday" type="text" class="form-control input-sm">
                                  </div>
                                  <div class="col-md-6">
                                    <label>Religion</label>
                                    <input v-model="details.owner.religion" type="text" class="form-control input-sm">
                                  </div>
                                  <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                  <div class="col-md-6">
                                    <label>Company Name</label>
                                    <input v-model="details.owner.company" type="text" class="form-control input-sm">
                                  </div>
                                  <div class="col-md-6">
                                    <label>Company Position</label>
                                    <input v-model="details.owner.position" type="text" class="form-control input-sm">
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Unit Details -->
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="title">Data Unit</span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                    <div class="form-group">
                        <div class="col-md-8">
                          <label>Apartment</label>
                          <input v-model="details.unit.name"type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-4">
                          <label>Tower</label>
                          <input v-model="details.unit.tower"type="text" class="form-control input-sm">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    <div class="form-group">
                        <div class="col-md-4">
                          <label>Floor</label>
                          <input v-model="details.unit.floor"type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-4">
                          <label>Unit</label>
                          <input v-model="details.unit.unit"type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-4">
                          <label>Size</label>
                          <input v-model="details.unit.size"type="text" class="form-control input-sm">
                        </div>
                        <div class="clearfix"></div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-4">
                          <label>Bed</label>
                          <input v-model="details.unit.bed"type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-4">
                          <label>Bath</label>
                          <input v-model="details.unit.bath"type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-4">
                          <label>View</label>
                          <input v-model="details.unit.view"type="text" class="form-control input-sm">
                        </div>
                        <div class="clearfix"></div>
                      </div>

                      <div class="form-group has-success">
                        <div class="col-md-4">
                          <label>Currency</label>
                          <select v-model="details.unit.price_currency" class="form-control input-sm">
                            <option value="IDR">IDR</option>
                            <option value="USD">USD</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label>Bottom</label>
                          <input v-model="details.unit.price_bottom"type="text" class="form-control input-sm">
                        </div>
                        <div class="col-md-4">
                          <label>Release</label>
                          <input v-model="details.unit.price_release"type="text" class="form-control input-sm">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeModal" type="button" class="btn btn-secondary">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>	
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'

export default {
	props: ['unitId'],
	data() {
		return {
      details: {
        unit: {
          id: null,
          name: null,
          address: null,
          tower: null,
          floor: null,
          unit: null,
          size: null,
          bed: null,
          bath: null,
          status: null,
          price_bottom: null,
          price_releas: null
        },
        owner: {
          id: null,
          company: null,
          name: null,
          birthday: null,
          religion: null,
          email: null,
          phone: null,
          phone_other: null,
          phone_fax: null,
          identity: null,
          position: null,
          address: null,
          country: null,
          type: null
        }
      }
    }
	},
  computed: mapState({
    uploadSuccess: state => state.Unit.upload.success
  }),
	methods: {
    openModal(id) {
      this.$store.dispatch('getUnitDetails',id).then((data) => {
        this.details.owner = {...data.owner}
        this.details.unit = {...data.unit}
        $('#model-unit-details').modal('show')
      }).catch((error) => {

      })
    },
		closeModal() {
      $('.panel-collapse').removeClass('in')
      $('#model-unit-details').modal('hide')
		},
    selectFile() {
      this.selectedFile = this.$refs.selectedFile.files[0]
      let extFile = this.selectedFile.name.split('.').pop()
      if(extFile === 'xls' || extFile === 'xlsx') {
        this.canUpload = true
      } else {
        this.canUpload = false
        this.selectedFile = null
        $.notify('Please upload excel file',{position: 'top center'})
      }
    },
		uploadNow() {
      let formData = new FormData()
      formData.append('file', this.selectedFile)
      
      this.$store.dispatch('uploadFileUnit', formData)
      .then((result) => {
        $.notify('New file successfully uploaded',{position: 'top center', className: 'success'})
        this.selectedFile = null
        this.canUpload = false
        this.$emit('callbackOpenModal',false)
      }).catch((error) => {
        $.notify('Upload error',{position: 'top center'})
      })
    }
	}
}
</script>

<style scope>
  .modal-body {
    padding: 0px;
  }
  .panel {
    padding-bottom:0px;
    margin-bottom:0px;
  }
  .panel-group.accordion {
    margin-bottom: 0px;
  }
</style>