<template>
	<div>
    <div class="modal fade" id="upload-file" tabindex="-1" role="dialog" data-backdrop="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Select Excel File</label>
              <input @change="selectFile()" ref="selectedFile" type="file" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button @click="closeModal" type="button" class="btn btn-secondary">Close</button>
            <button @click="uploadNow" :class="{disabled: !canUpload}" type="button" class="btn btn-primary">Upload Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>	
</template>

<script>
import axios from 'axios'
import { mapState, mapActions } from 'vuex'

export default {
	data() {
		return {
			selectedFile: null,
      canUpload: false
    }
	},
  computed: mapState({
    uploadSuccess: state => state.Unit.upload.success
  }),
	methods: {
    openModal() {
      $('#upload-file').modal('show')
    },
		closeModal() {
      $('#upload-file').modal('hide')
			this.$emit('callbackOpenModal', false)
		},
    selectFile() {
      this.selectedFile = this.$refs.selectedFile.files[0]
      let extFile = this.selectedFile.name.split('.').pop()
      if(extFile === 'xls' || extFile === 'xlsx') {
        this.canUpload = true
      } else {
        this.canUpload = false
        this.selectedFile = null
        $.notify('Please upload excel file',{position: 'top center'})
      }
    },
		uploadNow() {
      let formData = new FormData()
      formData.append('file', this.selectedFile)
      
      this.$store.dispatch('uploadFileUnit', formData)
      .then((result) => {
        $.notify('New file successfully uploaded',{position: 'top center', className: 'success'})
        this.selectedFile = null
        this.canUpload = false
        this.$emit('callbackOpenModal',false)
      }).catch((error) => {
        $.notify('Upload error',{position: 'top center'})
      });
    }
	}
}
</script>