<template>
  <div class="am-wrapper">
    <Header></Header>
    <Navigation></Navigation>
    <Dashboard></Dashboard>
  </div>
</template>

<script>
import LayoutHeader from './layout/header'
import LayoutNavigation from './layout/navigation'
import PageDashboard from './pages/dashboard'

export default {
  name: 'main',
  components: {
    Header: LayoutHeader,
    Navigation: LayoutNavigation,
    Dashboard: PageDashboard
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
