<template>
  <div>
    <div class="am-wrapper">
      <Header></Header>
      <Navigation v-bind:isActive="tabActive"></Navigation>
      <div class="am-content">
        <div class="main-content">
          <div class="row">
            <!--Responsive table-->
            <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="tools">
                    <span v-on:click="openFilterSearch" class="icon s7-edit" title="Filter Search"></span>
                  </div>

                  <div class="title">Manage Unit</div>
                </div>
                <div class="table-responsive noSwipe">
                  <table class="table table-striped table-fw-widget table-hover">
                    <thead>
                      <tr>
                        <th width="25%">Owner</th>
                        <th>Apartment</th>
                        <th width="45px">Tower</th>
                        <th width="25px">Floor</th>
                        <th width="25px">Unit</th>
                        <th width="25px">Bed</th>
                        <th width="25px">Bath</th>
                        <th width="25px">Size</th>
                        <th>Status</th>
                        <th width="130px">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody class="no-border-x" v-if="unitResults.length">
                      <tr v-for="unit in unitResults">
                        <td>
                          <div v-if="unit.owner.name">
                            <p><strong>{{ unit.owner.name }}</strong></p>
                            <small>
                              <i class="icon s7-ticket"></i> {{ unit.owner.id }}
                              <i class="icon s7-phone"></i> {{ unit.owner.phone }}
                            </small>
                          </div>
                          <div v-else>
                            Data owner not found
                          </div>
                        </td>
                        <td>
                          <p><strong>{{ unit.unit.name }}</strong></p>
                          <small>
                            <i class="icon s7-ticket"></i> {{ unit.owner.id }}
                            <span class="text-danger">
                              <i class="icon s7-bottom-arrow"></i> {{ unit.unit.price_currency }} {{ unit.unit.price_bottom | formatNumber }}
                            </span>
                            <span class="text-info">
                              <i class="icon s7-cart"></i> {{ unit.unit.price_currency }} {{ unit.unit.price_release | formatNumber }}
                            </span>
                          </small>
                        </td>
                        <td align="center">{{ unit.unit.tower }}</td>
                        <td align="center">{{ unit.unit.floor }}</td>
                        <td align="center">{{ unit.unit.unit }}</td>
                        <td align="center">{{ unit.unit.bed }}</td>
                        <td align="center">{{ unit.unit.bath }}</td>
                        <td align="center">{{ unit.unit.size }}</td>
                        <td>{{ unit.unit.status }}</td>
                        <td>
                          <button type="button" @click="openUnitDetails(unit.unit.id)" class="btn btn-block btn-info">Details</button>
                        </td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr>
                        <td colspan="10" align="center"><em>No Data Found</em></td>
                      </tr>
                    </tbody>                      
                  </table>
                </div>
              </div>
              <nav v-if="unitPaging.total > unitPaging.limit">
                <center>
                  <ul class="pagination pagination-sm">
                    <li :class="{disabled: unitPaging.page === 1}"><a href="#" aria-label="Previous" @click="goToPage(unitPaging.page-1)"><span aria-hidden="true">«</span></a></li>
                    <li class="disabled"><a href="#">{{unitPaging.page}} - {{unitPaging.total}}</a></li>
                    <li :class="{disabled: unitPaging.page === unitPaging.total}"><a href="#" aria-label="Next" @click="goToPage(unitPaging.page+1)"><span aria-hidden="true">»</span></a></li>
                  </ul>
                </center>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <FilterSearch ref="triggerModalFilterSearch" @callbackFilterSearch="filterSearch = $event"/>
    <UnitDetails ref="triggerModalUnitDetails"/>
    <OwnerResponse ref="triggerModalOwnerResponse"/>
  </div>
</template>

<script>
import Vue from 'vue'
import LayoutHeader from '../../layout/header'
import LayoutNavigation from '../../layout/navigation'
import ModalFilterSearch from './modal/FilterSearch'
import ModalUnitDetails from './modal/UnitDetails'
import ModalOwnerResponse from './modal/OwnerResponse'
import numeral from 'numeral'
import { mapState, mapActions } from 'vuex'

Vue.filter("formatNumber", function (value) {
  return numeral(value).format("0,0");
});

export default {
  data () {
    return {
      tabActive: 'unit',
      filterSearch: {
        page: 0
      }
    }
  },
  components: {
    Header: LayoutHeader,
    Navigation: LayoutNavigation,
    FilterSearch: ModalFilterSearch,
    UnitDetails: ModalUnitDetails,
    OwnerResponse: ModalOwnerResponse
  },
  computed: mapState({
    unitResults: state => state.Unit.units.results,
    unitPaging: state => state.Unit.units.paging
  }),
  watch: {
    filterSearch(search) {
      this.$store.dispatch('getUnitFilter')
    }
  },
  methods: {
    openFilterSearch() {
      this.$refs.triggerModalFilterSearch.openModal()
    },
    openUnitDetails(id) {
      this.$refs.triggerModalUnitDetails.openModal(id)
    },
    responseOwner(id, status) {
      this.$refs.triggerModalOwnerResponse.openModal(id, status)
    },
    goToPage(page){
      let goPage = page
      if(page < 1) goPage = 1
      if(page > this.unitPaging.total) goPage = this.unitPaging.total

      this.filterSearch.page = goPage
      console.log(this.filterSearch.page)
      console.log({...this.filterSearch})
      this.$store.dispatch('setSearchFilter',{...this.filterSearch})
      this.$store.dispatch('getUnitFilter')
    }
  },
  created() {
    this.$store.dispatch('getUnitFilter')
  }
}
</script>