<template>
  <div>
    <div class="am-wrapper">
      <Header></Header>
      <Navigation tabActive="isActive"></Navigation>
      <div class="am-content">
        <div class="main-content">
          <div class="row">
            <!--Responsive table-->
            <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="tools">
                    <span @click="openUploadFile" class="icon s7-upload" title="Upload New Excel"></span>
                  </div>
                  <div class="title">Upload</div>
                </div>
                <div class="table-responsive noSwipe">
                  <table class="table table-striped table-fw-widget table-hover">
                    <thead>
                      <tr>
                        <th width="150px">Date</th>
                        <th>Filename</th>
                        <th width="50px">Size</th>
                        <th width="150px">Status</th>
                        <th width="200px">Upload By</th>
                      </tr>
                    </thead>
                    <tbody class="no-border-x">
                      <tr v-if="fileUploaded.length" v-for="upload in fileUploaded" :class="classUploadStatus(upload.statusCode)">
                        <td>{{ upload.date }}</td>
                        <td>{{ upload.filename }}</td>
                        <td align="center">{{ upload.size }}</td>
                        <td align="text">{{ messageUploadStatus(upload.statusCode) }}</td>
                        <td align="left">{{ upload.user.name }}</td>
                      </tr>
                      <tr v-else>
                        <td colspan="9" align="center"><em>No Data Found</em></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <UploadFile 
      ref="triggerModalUploadFile"
      @callbackOpenModal="openModalUploadFile = $event" 
      @callbackUploadFile="selectedFile = $event">
    </UploadFile>
  </div>
</template>

<script>
import LayoutHeader from '../../layout/header'
import LayoutNavigation from '../../layout/navigation'
import ModalUploadFile from './modal/UploadFile'
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      openModalUploadFile: false
    }
  },
  components: {
    Header: LayoutHeader,
    Navigation: LayoutNavigation,
    UploadFile: ModalUploadFile
  },
  computed: mapState({
    fileUploaded: state => state.Unit.fileUploaded,
    selectedFile: state => state.Unit.selectedFile
  }),
  methods: {
  	openUploadFile() {
  		this.$refs.triggerModalUploadFile.openModal()
  	},
  	messageUploadStatus(code){
  		switch(code){
  			case '-1':
  				return 'Uploaded...'
  			break;
  			case '1':
  				return 'Finished...'
  			break;
        case '2':
          return 'File cannot proceed'
        break;
  			default:
  				return 'Processing...'
  			break;
  		}
  	},
    classUploadStatus(code){
      switch(code){
        case '-1':
          return 'default'
        break;
        case '1':
          return 'success'
        break;
        case '2':
          return 'danger'
        break;
        default:
          return 'warning'
        break;
      }
    }
  },
  created() {
    this.$store.dispatch('getListFileUnit')
  }
}
</script>