<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'app',
  computed: mapState({
    access: state => state.Auth.access,
    authenticated: state => state.Auth.authenticated
  }),
  watch: {
    authenticated(accessed){
      if(!accessed)
        this.$router.replace({ name: 'login' })  
    }
  }
}
</script>