<template>
  <div>
    <div class="am-wrapper">
      <Header></Header>
      <Navigation v-bind:isActive="tabActive"></Navigation>
      <div class="am-content">
        <div class="main-content">
          <div class="row">
            <!--Responsive table-->
            <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="tools">
                    <span class="icon s7-edit" title="Filter Search"></span>
                  </div>

                  <div class="title">Manage Owner</div>
                </div>
                <div class="table-responsive noSwipe">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th width="20%"><input v-model="search.name" type="text" class="form-control input-xs" placeholder="Name"></th>
                        <th width="20%"><input v-model="search.phone" type="text" class="form-control input-xs" placeholder="Phone #1"></th>
                        <th width="20%"><input v-model="search.phone_other" type="text" class="form-control input-xs" placeholder="Phone #2"></th>
                        <th width="35px"><input v-model="search.units" type="text" class="form-control input-xs"></th>
                        <th width="120px">
                          <select class="form-control input-xs" v-model="search.response">
                            <option value="" selected="selected">All Status</option>
                            <option 
                              v-for="option in responseType"
                              v-bind:value="option.key" 
                              >{{option.value}}</option>
                          </select>
                        </th>
                        <th width="10px">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="people in peopleList">
                        <td>{{people.name}}</td>
                        <td>{{people.phone || '-'}}</td>
                        <td>{{people.phone_other || '-'}}</td>
                        <td align="center">
                          <span
                            @click="openDetailsUnit(people)"
                            :class="{badge:true, 'badge-primary': people.units > 0}"
                            style="cursor: pointer;">
                            {{people.units}}
                          </span>
                        </td>
                        <td>
                          <select class="form-control input-sm" @change="submitResponse(people.id, $event.target.value, people.response, $event.target)">
                            <option 
                              v-for="option in responseType"
                              v-bind:value="option.key" 
                              :selected="option.key == people.response"
                              >{{option.value}}</option>
                          </select>
                        </td>
                        <td><button class="btn btn-primary btn-sm" @click="openDetails(people)">Details</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div v-if="peoplePaging">
            <nav v-if="peoplePaging.total > peoplePaging.limit">
              <center>
                <ul class="pagination pagination-sm">
                  <li :class="{disabled: peoplePaging.page === 1}">
                    <a href="#" aria-label="Previous" @click="goToPage(peoplePaging.page-1)"><span aria-hidden="true">«</span></a>
                  </li>
                  <li class="disabled"><a href="#">Page: {{peoplePaging.page}} - Total Rows: {{peoplePaging.total}}</a></li>
                  <li :class="{disabled: peoplePaging.page === peoplePaging.total}"><a href="#" aria-label="Next" @click="goToPage(peoplePaging.page+1)"><span aria-hidden="true">»</span></a></li>
                </ul>
              </center>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <Details ref="triggerModalDetails"/>
    <DetailsUnit ref="triggerModalDetailsUnit"/>
  </div>
</template>
<script>
import 'jquery-confirm'
import 'Modules/jquery-confirm/dist/jquery-confirm.min.css'
import LayoutHeader from '../../layout/header'
import LayoutNavigation from '../../layout/navigation'
import ModalDetails from './modal/details'
import ModalDetailsUnit from './modal/detailsUnit'
import { mapState, mapActions } from 'vuex'

export default {
  created() {
    this.$store.dispatch('GET_PEOPLE_LIST', {type: 'owner'})
  },
	data() {
		return {
			tabActive: 'people',
			peopleType: 'owner',
      search: {
        name:null,
        phone:null,
        phone_other: null,
        units: null,
        response:null
      },
      searchTimeout: null,
      updateResponse: {
        id: null,
        response: null,
        note: null
      }
		}
	},
  watch: {
    search: {
      handler(data) {
        clearTimeout(this.searchTimeout)
        this.searchTimeout = setTimeout(() => {
          let query = {
            type:'owner', 
            page: 1,
            query: this.search
          }
          this.$store.dispatch('GET_PEOPLE_LIST', query).then((response) => {
            console.log(response)
          })
        },1000);
      },
      deep: true
    }
  },
	computed: mapState({
    peopleList: state => state.People.peopleList.results,
    peoplePaging: state => state.People.peopleList.paging,
    responseType: state => state.People.responseType
  }),
	components: {
    Header: LayoutHeader,
    Navigation: LayoutNavigation,
    Details: ModalDetails,
    DetailsUnit: ModalDetailsUnit
  },
  methods: {
  	openDetails(data){
      this.$refs.triggerModalDetails.openModal('Owner Details', data)
  	},
    openDetailsUnit(data){
      this.$refs.triggerModalDetailsUnit.openModal(data);
    },
    openUnits(data){
      alert('hehehe')
    },
    submitResponse(id, response, current, $target){
      this.updateResponse.id = id
      this.updateResponse.response = response

      let __this__ = this
      $.confirm({
        title: 'Update Response',
        animation: 'scaleY',
        closeAnimation: 'scaleY',
        content: '' +
        '<div class="form-group">' +
          '<input type="text" placeholder="Add Note" class="note form-control" required />' +
        '</div>',
        buttons: {
            cancel: function () {
              $target.value = current
            },
            submit: {
                text: 'Update',
                btnClass: 'btn-primary',
                action: function () {
                  __this__.updateResponse.note = this.$content.find('.note').val();
                  if(__this__.updateResponse.note === ''){
                    alert('Isi Note Nya !!!')
                    return false
                  }
                  __this__.$store.dispatch('UPDATE_PEOPLE_RESPONSE',__this__.updateResponse).then((response) => {
                    console.log(response)
                  }).catch((error) => {

                  })
                }
            }
        }
     })
    },
    goToPage(page){
      let goPage = page
      if(page < 1) goPage = 1
      if(page > this.peoplePaging.total) goPage = this.peoplePaging.total

      let query = {
        type:'owner', 
        page: goPage,
        query: this.search
      }
      this.$store.dispatch('GET_PEOPLE_LIST', query).then((response) => {
        console.log(response)
      })
    }
  }
}
</script>

<style scope>
  .form-control {
    padding:0px !importnat;
  }
	.unit-details {
		display: none;
		padding: 0px !important;
		background-color: #fff;
	}
	.unit-details:hover {
		background-color: #fff !important;
	}
</style>